.left-side {
    background-color: #212428;
    color: #949090;
    float: left;
    width: 30%;
}

.left-inside {
    margin-left: 2%;
}


.right-side {
    float: right;
    width: 70%;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 0px;
    font-size: 25px;
    border: none;
    cursor: pointer;
}

.button-txt {
    padding: 3px 10px;
}
