ul {
   list-style: none;
   margin-left: 4%;
   padding: 0;
}

.container {
    margin: 0% 0.6%;
    width: 98%;
}

.left-side {
    background-color: #212428;
    /*color: #949090;*/
    color: #afaeae;
    float: left;
    width: 31%;
}

.left-inside {
    padding: 0% 2%;
}

.right-side {
    margin-left: 2%;
    float: right;
    width: 67%;
}

.right-inside {
    padding-left: 2%;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 0px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.button-txt {
    padding: 3px 10px;
}

/* taken from google map for developer */

/* Always set the map height explicitly to define the size of the div
  * element that contains the map. */
#map {
   height: 95%;
   /*width: 66.5%;*/
}

 /* Optional: Makes the sample page fill the window. */
html, body {
   height: 100%;
   margin: 0;
   padding: 0;
}

#description {
   font-family: Roboto;
   font-size: 15px;
   font-weight: 300;
 }

#infowindow-content .title {
   font-weight: bold;
}

#infowindow-content {
   display: none;
}

#map #infowindow-content {
   display: inline;
}

#title {
   color: #ffffff;
   background-color: #4d90fe;
   font-size: 25px;
   font-weight: 500;
   padding: 6px 12px;
}

#target {
       width: 345px;
}

.searchwidth {
      width:100%;
}

.margin-list {
    margin: 5px 0px;
}

.list {
    color: #7c7a7a;
}
.list:hover {
    color: #3b475b;
}
